<div class="container-xxl m-auto mt-2">
  <div class="row">
      <div class="col-sm-12 col-md-10 wow fadeIn p-2 m-auto" data-wow-delay="0.1s">
          <div class="overflow-hidden">
              <img class="w-100" [src]="currentThing?.img_name" alt="">
          </div>
          <div class="bg-secondary d-flex flex-column flex-sm-row justify-content-between">
            <div class="d-flex align-items-center justify-content-center">
              <div type="button" class="btn" style="border:none"
              (click)="userVote(currentUser?.user_id, currentThing!.thing_id, 1)">
                <i class="fa-solid fa-circle-up responsive-icon"
                    [class.voted]="currentVotedValue === 1"></i>
              </div>
              <div class="responsive-text text-white">{{ currentTotalVotes }}</div>
              <div type="button" class="btn" style="border:none"
              (click)="userVote(currentUser?.user_id, currentThing!.thing_id, -1)">
                <i class="fa-solid fa-circle-down voted responsive-icon"
                    [class.voted]="currentVotedValue === -1"></i>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center w-100">
              <div class="text-align-end">
                <h5 class="text-white m-1 responsive-text">{{currentThing?.thing_title | uppercase}} </h5>
              </div>
              <div class="text-align-end">
                <h5 class="text-white m-1 fst-italic responsive-text">- {{currentThing?.user_name | titlecase}} -</h5>
              </div>
              <div class="text-align-end">
                <h5 class="text-white m-1 fst-italic responsive-text">({{currentThing?.location | titlecase}} - {{currentThing?.date | date}})</h5>
              </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-terciary btn-block mt-2 responsive-text" (click)="comment(currentThing!.thing_id, currentUser?.user_id)"><i class="fa-regular fa-message fa-2x"></i>
                  </button>
                <button type="button" class="btn btn-primary btn-block m-2 btn-sm responsive-text" (click)="goBack()">Back</button>
            </div>
          </div>
      </div>
    </div>
    @for (comment of currentComments; track comment.comment_id ){
      <div class="row">
        <div class="col-sm-12 col-md-10 wow fadeIn p-2 m-auto" data-wow-delay="0.1s">
          <div class="w-100 bg-secondary rounded-3  d-flex flex-column">
            <div class="comment-data d-flex justify-content-start m-2">
              <div class="">
                   <small class="text-muted m-2"><em>Posted by: {{ comment.user_name | titlecase }}</em></small>
              </div>
              <div class="">
                <small class="text-muted m-4"><em>{{ comment.date | date:'dd/MM/YY HH:mm' }}</em></small>
              </div>
            </div>
            <small class="m-1 p-2 responsive-text">{{ comment.comment }}</small>
          </div>
        </div>
      </div>
      }
</div>

