<div class="container-xxl m-auto">
  <div class="row">
      <div class="col wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-img position-relative overflow-hidden">
              <img class="w-100" [src]="baseUrl + currentThing.img_name" alt="">
          </div>
          <div class="bg-secondary d-flex flex-column flex-sm-row justify-content-between">
            <div class="d-flex align-items-center justify-content-center ">
              <div type="button" class="btn" style="border:none"
              (click)="userVote(currentUser!.user_id, currentThing.thing_id, 1)">
                <i class="fa-solid fa-circle-up responsive-icon"></i>
              </div>
              <div class="responsive-text">{{currentThing.votes}}</div>
              <div type="button" class="btn" style="border:none"
              (click)="userVote(currentUser!.user_id, currentThing.thing_id, -1)">
                <i class="fa-solid fa-circle-down responsive-icon"></i>
              </div>
            </div>
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center">
              <div class="text-align-end">
                <h5 class="text-white m-1 responsive-text">{{currentThing.thing_title | uppercase}} </h5>
              </div>
              <div class="text-align-end">
                <h5 class="text-white m-1 fst-italic responsive-text">({{currentThing.location | titlecase}} - {{currentThing.date | date}})</h5>
              </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-terciary btn-block mt-2 responsive-text" (click)="comment()"><i class="fa-regular fa-message fa-2x"></i>
                  </button>
                <button type="button" class="btn btn-primary btn-block m-2 btn-sm responsive-text" (click)="goBack()">Back</button>
            </div>
          </div>
      </div>
    </div>
</div>

<!-- TODO media query button back and comment responsive-->
