<p>user works!</p>
<div class="">{{ currentUser?.user_name }}</div>
<div class="">{{ currentUser?.email }}</div>
<div class="container-xxl py-5">
  <div class="container">

      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <p class="text-uppercase">My things: </p>
      </div>
      <div class="row g-4">
        @for (thing of currentThingList; track thing.thing_id){
        <a class="col-lg-4 col-md-6 wow fadeInUp containerdiv" data-wow-delay="0.1s"
          [routerLink]="['/pages/thing-page', thing.thing_id]" >
          <div class="service-item position-relative overflow-hidden bg-transparent ps-4
          imgdiv h-100 text-center d-flex flex-column justify-content-end"
          [style.backgroundImage]="'url(' + baseUrl +'/' + thing.img_name + ')'" >
            <div class="">
              <h3 class="">{{thing.thing_title | uppercase }}</h3>
            </div>
            <div>
              <p class="text-white">{{thing.category | titlecase}}</p>
            </div>
            <a class="btn btn-square"><i class="fa fa-plus text-primary"></i></a>
          </div>
        </a>
        } @empty {
          Could not load list of things or list is empty
        }
      </div>
  </div>

  <!-- <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <p class="text-uppercase">My things: </p>
    </div>
    <div class="row g-4">
      @for (thing of currentThingList; track thing.thing_id){
      <a class="col-lg-4 col-md-6 wow fadeInUp containerdiv" data-wow-delay="0.1s"
        [routerLink]="['/pages/thing-page', thing.thing_id]" >
        <div class="service-item position-relative overflow-hidden bg-transparent ps-4
        imgdiv h-100 text-center d-flex flex-column justify-content-end"
        [style.backgroundImage]="'url(' + baseUrl +'/' + thing.img_name + ')'" >
          <div class="">
            <h3 class="">{{thing.thing_title | uppercase }}</h3>
          </div>
          <div>
            <p class="text-white">{{thing.category | titlecase}}</p>
          </div>
          <a class="btn btn-square"><i class="fa fa-plus text-primary"></i></a>
        </div>
      </a>
      } @empty {
        Could not load list of things or list is empty
      }
    </div>
</div> -->

</div>
