<nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-lg-0 px-lg-5">
  <div class="navbar-brand ms-4 ms-lg-0">
    <a class="h1 mb-0 text-primary text-uppercase" routerLink="/home" (click)="isNavbarCollapsed = true">rare things</a>
  </div>
  <button type="button" class="navbar-toggler me-4" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="!isNavbarCollapsed" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a routerLink="/home" class="nav-item nav-link" routerLinkActive="active" (click)="isNavbarCollapsed = true">Home</a>
      <a routerLink="/things-list" class="nav-item nav-link" routerLinkActive="active" (click)="isNavbarCollapsed = true">All Things</a>
      <a *ngIf="isUserLogged" [routerLink]="['/user', currentUser?.user_id]" class="nav-item nav-link"
          routerLinkActive="active" (click)="isNavbarCollapsed = true">{{ currentUser!.user_name }}</a>
    </div>
    <a *ngIf="!isUserLogged" class="btn btn-primary rounded-0 py-1 px-3 d-lg-block m-1"
      id="login" (click)="openLogin(); isNavbarCollapsed = true">Login</a>
    <button *ngIf="isUserLogged" class="btn btn-primary rounded-0 py-1 px-3 d-lg-block m-1" (click)="addThing(); isNavbarCollapsed = true">Upload Rare Thing</button>
    <a *ngIf="isUserLogged" class="btn btn-primary rounded-0 py-1 px-3 d-lg-block m-1"
      (click)="logout(); isNavbarCollapsed = true">Logout</a>
  </div>
</nav>
