<div class="col-lmb-22 wow fadeIn" data-wow-delay="0.1s">
  <div class="bg-secondary p-5">
    <h1 class="text-uppercase mb-4">Log in</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" ngbAutofocus>

      <div class="row my-2">
        <label for="email" class="col-3 col-form-label">Email:</label>
        <div class="col-9">
          <input
            type="email"
            class="form-control bg-transparent"
            id="email"
            formControlName="email"
            [ngClass]="{
              'is-valid': loginForm.get('email')!.valid && loginForm.get('email')!.touched,
              'is-invalid': loginForm.get('email')!.invalid && loginForm.get('email')!.touched
            }"/>
            <div *ngIf="isValidField('email')" class="form-text text-danger">
              {{ getFieldError(loginForm, "email") }}
            </div>
        </div>
      </div>

      <div class="row my-2">
        <label for="password" class="col-3 col-form-label">Password:</label>
        <div class="col-9">
          <input
            type="password"
            class="form-control bg-transparent"
            id="password"
            formControlName="password"
            [ngClass]="{
              'is-valid': loginForm.get('password')!.valid && loginForm.get('password')!.touched,
              'is-invalid': loginForm.get('password')!.invalid && loginForm.get('password')!.touched
            }"/>
            <div *ngIf="isValidField('password')" class="form-text text-danger">
              {{ getFieldError(loginForm, "password") }}
            </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-3 mt-4">
          <button class="btn btn-secondary text-primary w-100 py-3" type="button" (click)="cancel()">Cancel</button>
        </div>
        <div class="col-9 mt-4">
          <button class="btn btn-primary w-100 py-3" type="submit">Send</button>
        </div>
      </div>
      <div class="mt-4">
        <p class="mb-4">Don't have an account?  <a href="" (click)="register($event)">Register</a></p>
      </div>
    </form>
  </div>
</div>
